.navbar {
  @apply sticky top-0 left-0 right-0 w-full py-2 px-14 flex justify-between items-center overflow-hidden z-[100];
  @apply 2xl:px-10;
  @apply xl:px-5;
  @apply sm:px-6;
  @apply xs:px-3;
  background-color: #fff;
  backdrop-filter: blur(8px);
}
/* #002e73 */
.navTitle {
  transition: all 400ms ease-in-out;
  @apply ml-6 text-xl xl:hidden;
}

.navbarList {
  @apply flex gap-1 justify-evenly items-center text-primary-light;
  transition: all 300ms ease-in-out;
  @apply 2xl:gap-2;
  @apply xl:gap-1;
  @apply lg:hidden;
  color: #fff;
}

.navbarList > .navLink {
  @apply font-semibold text-sm xl:mx-2 p-2;
  transition: all 300ms ease-in-out;
  width: fit-content;
}
.navbarList > .navLink:hover {
  @apply text-[#a8a8a7] rounded-lg p-2;
}

.humburgerMenu {
  @apply cursor-pointer hidden lg:block;
}
