@keyframes spin-slow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate {
  animation: spin-slow 20s linear infinite;
  text-align: center;
  white-space: nowrap;
  margin-top: 10px;
  font-weight: bold;
  overflow: hidden;
  overflow-y: hidden;
  /* overflow-y: visible; */
}
