@keyframes spin-slow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate {
  animation: spin-slow 20s linear infinite;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  /* overflow-y: visible; */
}
.animate2 {
  animation: fade-in-out 1s linear infinite;
  /* overflow-y: visible; */
}
